#!/usr/bin/env python
PACKAGE = "template_library"

import roslib;roslib.load_manifest(PACKAGE)

from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()

#gen.add("ransac_iterations", int_t, 0, "ransac_iterations", 1000, 1, 1000)
#gen.add("disparity_max_range", double_t, 0, "disparity_max_range", 100, -10000, 100000)
#gen.add("disparity_min_range", double_t, 0, "disparity_min_range", 0, -10000, 100000)
#gen.add("neighbor_distance_threshold", double_t, 0, "neighbor_distance_threshold", 10, 0, 100)
#gen.add("ransac_max_distance_inliers", double_t, 0, "ransac_max_distance_inliers", 3, 0, 100)

#gen.add("delete_clouds", bool_t, 0, "delete_clouds", False)

gen.add("source_directory", str_t, 0, "A string parameter", "/home/karol/ros_workspace/interactive_object_recognition/template_library/source/")

gen.add("data_directory", str_t, 0, "A string parameter", "/home/karol/ros_workspace/interactive_object_recognition/template_library/data/")

#gen.add("cloud_number", int_t, 0, "cloud_number", 0, 0, 100)

#gen.add("save_cloud", bool_t, 0, "save_cloud", False)



exit(gen.generate(PACKAGE, "template_library", "Library"))
