<launch>

  <node pkg="image_view" type="image_view" name="image_view" cwd="node" required="false">
    <remap from="image" to="image_matches"/>
    <param name="autosize" value="true" />
  </node>

 <node pkg="dynamic_reconfigure" type="reconfigure_gui" name="dynamic_reconfigure" cwd="node" required="false" output="screen" />

  <node pkg="template_matching" type="template_matching" name="template_matcher" cwd="node" required="true" output="screen" >
    <param name="/feature_matcher/feature_detector"                 value="0"/>
    <param name="/feature_matcher/feature_extractor"                value="0"/>
    <param name="/feature_matcher/descriptor_matcher"                value="1"/>
    <param name="/feature_matcher/horizontal_matches"                 value="false"/>
    <param name="/feature_matcher/reduce_search_area"                 value="false"/>
    <param name="/feature_matcher/horizontal_threshold"               value="1"/>
    <param name="/feature_matcher/matching_distance_ratio_threshold"  value="0.67"/>
    <param name="/feature_matcher/max_radius_search_dist"             value="400"/>
    <param name="/feature_matcher/tracking_matches"                   value="false"/>
    <param name="/feature_matcher/drawing_template"                   value="true"/>
    <param name="/feature_matcher/tracking_threshold"                 value="0"/>
    <param name="/feature_matcher/distance_factor"                    value="0"/>
    <param name="/feature_matcher/feature_detector_parameter_name"    value="maxTotalKeypoints"/>
    <param name="/feature_matcher/feature_detector_parameter_value"  value="1200"/>
    <param name="/feature_matcher/feature_extractor_parameter_name"    value="orientationNormalized"/>
    <param name="/feature_matcher/feature_extractor_parameter_value"  value="0"/>
    <param name="/feature_matcher/timing_debug"  value="0"/>
    <param name="/feature_matcher/double_check_tracking_matches"  value="0"/>
    <param name="/feature_matcher/distinct_matches"  value="0"/>


  </node>

</launch>
